{% extends 'base.html' %}
{% load static %}
{% block static %}
    <link href="{% static 'js/attention.css' %}" rel="stylesheet">
    <script src="{% static 'js/attention.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script>
      $(document).ready(function () {
          
          var calendar = $('#calendar').fullCalendar({
              header: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'month,agendaWeek,agendaDay'
              },
              events: '/all_tasks/{{ user.username }}',
              selectable: true,
              selectHelper: true,
              editable: true,
              eventLimit: true,
              select: function (start, end, allDay, user) {
                  var title = prompt('Enter Task')
                  if (title) {
                      var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
                      var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");
                      var employe = user.username
                      var creator = user.username
                      $.ajax({
                        type: "GET",
                        url: '/add_task/{{ user.username }}',
                        data: {'title': title, 'start':start, 'end':end, 'employe':employe, 'creator':creator},
                        dataType: "json",
                        success: function (data) {
                            calendar.fullCalendar('refetchEvents');


                            const tasks = document.getElementById('emp_tasks');
                            const tasks_cnt = document.getElementById('tasks_cnt');
                            tasks.innerHTML = "";

                            $.ajax({
                              url: '{% url "get-tasks" %}',
                              type: 'GET',
                              success: function(data) {
                                (data.tasks).forEach(task => {
                                  const taskHTML = `
                                      <li class="bdB peers ai-c jc-sb fxw-nw" id="task_card">
                                        <a onclick="taskDetail(${task.id})" class="td-n p-20 peers fxw-nw mR-20 peer-greed c-grey-900" data-toggle="modal" data-target="#calendar-edit">
                                          <div class="peer mR-15">
                                            <i class="fa fa-fw fa-clock-o c-red-500"></i>
                                          </div>
                                          <div class="peer" id='id_task'>
                                            <span class="fw-600">${ task.title }</span>
                                            <div class="c-grey-600">
                                              <span class="c-grey-700">${ task.start }</span>
                                            </div>
                                          </div>
                                        </a>
                                        <div class="peers mR-15">
                                          <div class="peer">
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#calendar-edit" class="td-n c-deep-purple-500 cH-blue-500 fsz-md p-5">
                                              <i class="fa-solid fa-marker"></i>
                                            </a>
                                          </div>
                                          <div class="peer">
                                            <a href="/delete-task/${ task.slug }/" class="td-n c-red-500 cH-blue-500 fsz-md p-5">
                                              <i class="fa-solid fa-trash"></i>
                                            </a>
                                          </div>
                                        </div>
                                      </li>`

                                  tasks.innerHTML += taskHTML;
                                });
                                tasks_cnt.innerHTML = `${data.tasks_cnt}`;
                                console.log(tasks_cnt);
                              }
                            });

                      
                        },
                        error: function (data) {
                            alert('There is a problem!!!');
                        }
                      });

                     
                  }
              },
              {% if position1.position == "director" %}
              eventResize: function (task) {
                  var start = $.fullCalendar.formatDate(task.start, "Y-MM-DD HH:mm:ss");
                  var end = $.fullCalendar.formatDate(task.end, "Y-MM-DD HH:mm:ss");
                  var title = task.title;
                  var id = task.id;
                  $.ajax({
                      type: "GET",
                      url: '/update',
                      data: {'title': title, 'start': start, 'end': end, 'id': id},
                      dataType: "json",
                      success: function (data) {
                          calendar.fullCalendar('refetchEvents');
                          alert('Event Update');
                      },
                      error: function (data) {
                          alert('There is a problem!!!');
                      }
                  });
              },

              eventDrop: function (task) {
                  var start = $.fullCalendar.formatDate(task.start, "Y-MM-DD HH:mm:ss");
                  var end = $.fullCalendar.formatDate(task.end, "Y-MM-DD HH:mm:ss");
                  var title = task.title;
                  var id = task.id;
                  $.ajax({
                      type: "GET",
                      url: '/update',
                      data: {'title': title, 'start': start, 'end': end, 'id': id},
                      dataType: "json",
                      success: function (data) {
                          calendar.fullCalendar('refetchEvents');
                          alert('Event Update');
                      },
                      error: function (data) {
                          alert('There is a problem!!!');
                      }
                  });
              },
              {% endif %}
          });
          
      })
    </script>
    <script>
      function taskDetail(id) {
        const taskTitle = document.getElementById('taskTitle');
        const taskStart = document.getElementById('taskStart');
        const taskEnd = document.getElementById('taskEnd');
        const taskDescription = document.getElementById('taskDescription')
        taskTitle.innerHTML = "";
        taskStart.innerHTML = "";
        taskEnd.innerHTML = "";
        taskDescription.innerHTML = "";

        $.ajax({
          url: '{% url "task-detail" %}',
          type: 'GET',
          data: {
            'task_id': id,
          },
          
          success: function(data) {
              taskTitle.innerHTML += `<input type="text" name="title" value="${ data.task_title }" class="form-control bdc-grey-200" maxlength="100" id="id_title">`;
              taskStart.innerHTML += `<input type="text" name="start" value="${ data.task_start }" class="form-control bdc-grey-200 start-date" id="id_start">`;
              taskEnd.innerHTML += `<input type="text" name="end" value="${ data.task_end }" class="form-control bdc-grey-200 end-date" id="id_end">`;
              taskDescription.innerHTML += ` <label class="fw-500">Event title</label>
              <textarea name="description" cols="40" rows="10" value="${ data.task_des }" class="form-control bdc-grey-200" id="id_description">${ data.task_des }</textarea>`;
            },
        });
      };
    </script>
{% endblock static %}
{% block content %}
                <!-- ### $App Screen Content ### -->
        <main class="main-content bgc-grey-100">
          <div id="mainContent">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <div class="bdrs-3 ov-h bgc-white bd">
                    <div class="bgc-deep-purple-500 ta-c p-30">
                      <h1 class="fw-300 mB-5 lh-1 c-white">01<span class="fsz-def">st</span></h1>
                      <h3 class="c-white">Monday</h3>
                    </div>
                    <div class="pos-r">
                      <button type="button" class="mT-nv-50 pos-a r-10 t-2 btn cur-p bdrs-50p p-0 w-3r h-3r btn-warning">
                        <i class="ti-plus"></i>
                      </button>
                      <ul class="m-0 p-0 mT-20" id="emp_tasks">
                          {% for i in task_count %}
                            <li class="bdB peers ai-c jc-sb fxw-nw" id="task_card">
                              <a onclick="taskDetail({{ i.id }})" class="td-n p-20 peers fxw-nw mR-20 peer-greed c-grey-900" href="javascript:void(0);" data-toggle="modal" data-target="#calendar-edit">
                                <div class="peer mR-15">
                                  <i class="fa fa-fw fa-clock-o c-red-500"></i>
                                </div>
                                <div class="peer" id='id_task'>
                                  <span class="fw-600">{{ i.title }}</span>
                                  <div class="c-grey-600">
                                    <span class="c-grey-700">{{ i.start }}</span>
                                  </div>
                                </div>
                              </a>
                              <div class="peers mR-15">
                                <div class="peer">
                                  <a href="javascript:void(0);" data-toggle="modal" data-target="#calendar-edit" class="td-n c-deep-purple-500 cH-blue-500 fsz-md p-5">
                                    <i class="fa-solid fa-marker"></i>
                                  </a>
                                </div>
                                <div class="peer">
                                  <a href="{% url 'delete-task' i.slug %}" class="td-n c-red-500 cH-blue-500 fsz-md p-5">
                                    <i class="fa-solid fa-trash"></i>
                                  </a>
                                </div>
                              </div>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="container">
                    <div id="calendar"></div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="calendar-edit">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="bd p-15">
                      <h5 class="m-0">Add Event</h5>
                    </div>
                    <div class="modal-body">
                      <form  method="POST">{% csrf_token %}
                        <div class="form-group">
                          <label class="fw-500">Event title</label>
                          <span id="taskTitle"><input type="text" name="title" value="{{ form.title }}" class="form-control bdc-grey-200" maxlength="100" id="id_title"></span>
                        </div>
                        <div class="row">
                          <div class="form-group col-md-5 row">
                            <label for="">Employe</label>
                            <select name="employe"  id="id_employe" class="form-control">
                              <option value="{{ employes.id }}">{{ employes.user }}</option>
                            </select>
                            <label for="">Section</label>
                            <select name="section" id="id_section" class="form-control">
                              <option class="after" value="{{ section.id }}">{{ section.name }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6"><br>
                            <label class="fw-500">Start</label>
                            <div class="timepicker-input input-icon form-group" id="taskStart">
                              <div class="input-group">
                                <div class="input-group-addon bgc-white bd bdwR-0">
                                  <i class="ti-calendar"></i>
                                </div>
                                <input type="text" name="start" value="{{ form.start }}" class="form-control bdc-grey-200 start-date" id="id_start">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6"><br>
                            <label class="fw-500">End</label>
                            <div class="timepicker-input input-icon form-group" id="taskEnd">
                              <div class="input-group">
                                <div class="input-group-addon bgc-white bd bdwR-0">
                                  <i class="ti-calendar"></i>
                                </div>
                                <input type="text" name="end" value="{{ form.end }}" class="form-control bdc-grey-200 end-date" id="id_end">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group" id="taskDescription">
                          <label class="fw-500">Event title</label>
                          <textarea name="description" cols="40" rows="10" value="{{ form.description }}" class="form-control bdc-grey-200" id="id_description"></textarea>
                        </div>
                        <div class="text-right">
                          <button class="btn btn-primary cur-p">Done</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
{% endblock content %}