{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div style="padding-top: 65px;">
        <div class="row">
            <div class="col-md-5 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        width="150px"
                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                        class="font-weight-bold">{{ employe.user }}</span><span class="text-black-50">{{ employe.email}}
            </span><span> </span></div>
        </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <div class="row">
                            <div class="col-md-6"><label class="labels">Name</label>{{ user_change.first_name }}</div>
                            <div class="col-md-6"><label class="labels">Surname</label>{{ user_change.last_name }}</div>
                            {% if admin.id == employe.user.id %}
                            <div class="col-md-3 "><label class="labels ">Gender:</label><br>{{ user_change.gender }}
                            </div>
                            {% else %}
                            <div class="col-md-12"><label class="form-control">Gender:</label><br>
                                <select name="gender" id="id_gender">
                                    <option name="employe.gender.id" value="{{ employe.gender.id }}">{{ employe.gender }}</option>
                                </select>
                            {% endif %}
                            </div>
                            <div class="row mt-3">
                                {% if request.user.username != employe.user %}
                                {% if section.id == employe.section.id or request.user.is_superuser %}
                                {% if position1.position == "director" %}
                                <div class="col-md-4"><label class="labels">Position:</label><br>
                                    {{ user_change.position }}
                                </div>
                                {% elif position1.position != "director" %}
                                <div class="col-md-12"><label class="form-control">Position:</label><br>
                                    <select name="position" required="" id="id_position">
                                        <option name="employe.position.id" value="{{ employe.position.id }}">{{ employe.position }}</option>
                                    </select>
                                </div>
                                {% endif %}
                                {% else %}
                                <div class="col-md-12"><label class="">Position:</label><br>{{ employe.position }}</div>
                                {% endif %}
                                {% endif %}
                                
                                {% if request.user.username != employe.user %}
                                {% if request.user.is_superuser %}
                                <div class="col-md-5"><label class="labels">Section:</label><br>{{ user_change.section }}
                                </div>
                                {% else %}
                                <div class="col-md-5"><label class="labels">Section:</label><br>
                                    <select name="section" required="" id="id_section" class="form-control">
                                        <option name="employe.section.id" value="{{ employe.section.id }}">{{ employe.section }}</option>
                                    </select>
                                </div>
                                {% endif %}
                                {% endif %}
                                <div class="col-md-12"><label class="labels">Email:</label>{{ user_change.email }}</div>
                                <div class="col-md-12"><label class="labels">Bio</label>{{ user_change.bio }}</div>
                                <div class="col-md-12"><label class="labels">Address</label>{{ user_change.adress }}
                                </div>
                                <div class="col-md-12"><label class="labels">Status</label><br>{{ user_change.status }}
                                </div>
                                {% if request.user.is_superuser %}
                                <div class="col-md-12"><label class="labels">User Limit</label><br>{{ adduser.users }}
                                </div>
                                {% endif %}
                                <div class="col-md-12"><a href="{% url 'change_password' request.user.username %}"><label class="labels">Change Password</label><br></a>
                                </div>
                                <div class="mt-5 text-center" style="margin-bottom: 20px;"><button type="submit" class="btn btn-dark btn-lg">Save
                                        Changes</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}