<!doctype html>
                        <html>
                            <head>
                                <meta charset='utf-8'>
                                <meta name='viewport' content='width=device-width, initial-scale=1'>
                                <title>Snippet - BBBootstrap</title>
                                <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
                                <link href='' rel='stylesheet'>
                                <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
                                <style>body {
    background: rgb(99, 39, 120)
}




.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}</style>
                                </head>
                                <body oncontextmenu='return false' class='snippet-body'>
                                <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{ employe.user }}</span><span class="text-black-50">{{ employe.email }}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label>{{ user_change.first_name }}</div>
                        <div class="col-md-6"><label class="labels">Surname</label>{{ user_change.last_name }}</div>
                        {% if user.id == employe.user.id %}
                            <div class="col-md-12"><label class="labels">Gender:</label><br>{{ user_change.gender }}</div>
                        {% else %}
                            <div class="col-md-12"><label class="labels">Gender:</label><br>{{ employe.gender }}</div>
                        {% endif %}
                    </div>
                    <div class="row mt-3">
                        {% if request.user.username != employe.user %}
                        {% if section.id == employe.section.id %}
                        {% if position.position == "director" %}
                        <div class="col-md-12"><label class="labels">Position:</label><br>
                            {{ user_change.position }}
                        </div>
                        {% elif position.position != "director" %}
                        <div class="col-md-12"><label class="labels">Position:</label><br>
                            <select name="position" required="" id="id_position">
                                <option name="employe.position.id" value="{{ employe.position.id }}">{{ employe.position }}</option>
                            </select>
                        </div>
                        {% endif %}
                        {% else %}
                        <div class="col-md-12"><label class="labels">Position:</label><br>{{ employe.position }}</div>
                        {% endif %}
                        {% endif %}
                        <div class="col-md-12"><label class="labels">Section:</label><br>{{ employe.section }}</div>
                        <div class="col-md-12"><label class="labels">Email:</label>{{ user_change.email }}</div>
                        <div class="col-md-12"><label class="labels">Bio</label>{{ user_change.bio }}</div>
                        <div class="col-md-12"><label class="labels">Address</label>{{ user_change.adress }}</div>
                        <div class="col-md-12"><label class="labels">Status</label><br>{{ user_change.status }}</div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                        <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                    </div>
                    <div class="mt-5 text-center"><button type="submit" class="btn btn-dark btn-lg">Save Changes</button></div>
                    <div class="mt-5 text-center"><a class="btn btn-dark btn-lg" href="{% url 'dashboard' request.user.username %}">Home</a></div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
                                <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
                                <script type='text/javascript' src=''></script>
                                <script type='text/javascript' src=''></script>
                                <script type='text/Javascript'></script>
                                </body>
                            </html>